{
  "proseWrap": "never",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "semi": true,
  "useTabs": true,
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}