{
    "proseWrap": "never",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "semi": true,
		"useTabs": true,
    "tabWidth": 2,
    "printWidth": 100,
		"bracketSpacing":true,
		"jsxBracketSameLine": false,
		"arrowParens": "always"
}