.user-search-container {
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.search-input {
	height: 100px;
	width: 100%;

	.search-button {
		margin-left: 8px;
	}
}

.result-list {
	height: 400px;
	width: 100%;
}
