// ! 注意: ::-webkit 仅仅在支持webkit的浏览器(谷歌chrome和苹果safari)中使用
// 滚动条属性
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

// 滚动滑块的属性
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.3);
}

// 滚动条轨道的属性
::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.1);
}
